# ApiConfig
API_NAME='Blog API'
API_DEBUG=false

# RunConfig
RUN_HOST=0.0.0.0
RUN_PORT=8000

# DatabaseConfig
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=blog
POSTGRES_ECHO=false
POSTGRES_ECHO_POOL=false
POSTGRES_POOL_SIZE=5
POSTGRES_MAX_OVERFLOW=10

# TestDatabaseConfig
POSTGRES_TEST_HOST=localhost
POSTGRES_TEST_PORT=5432
POSTGRES_TEST_USER=postgres
POSTGRES_TEST_PASSWORD=postgres
POSTGRES_TEST_DB=test_blog
POSTGRES_TEST_ECHO=true
POSTGRES_TEST_ECHO_POOL=true
POSTGRES_TEST_POOL_SIZE=5
POSTGRES_TEST_MAX_OVERFLOW=10

# RedisConfig
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# RedisDB
REDIS_CACHE=0